@page "/Login"

<PageTitle>Login Page</PageTitle>

<main class="d-flex align-items-center"> 
    
    <div class="page-form m-auto">
        
        <form class="m-auto login-form" id="login-form" @onsubmit="() => PerformLogin()" data-enhance>
            <AntiforgeryToken />
            <h1 class="h3 mb-3 fw-normal">Please log in</h1>

            <div class="form-floating">
                @{String classText = "form-control " + EmailErrorClass;}
                <input type="email" class="@classText" id="floatingInput" required
                           placeholder="Email address..." @bind="Email"  />
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                @{classText = "form-control " + PasswordErrorClass;}
                <input type="password" class="@classText" id="floatingPassword" required
                       placeholder="Password..." @bind="Password" />
                <label for="floatingPassword">Password</label>
            </div>

            <div class="errors">
                @if (EmailValid == false || PasswordValid == false)
                {
                    <div>Invalid login.</div>
                }
            </div>
            <div class="success-messages">
                @if (LoginSuccess == true)
                {
                    <div>@LoginSuccessfulMsg</div>
                }
            </div>

            <button type="submit" class="btn btn-primary w-75 py-2" id="submit-btn">
                <span>Log In</span>
            </button>
        </form>

        <a class="btn btn-secondary w-75 py-2" href="/Login/Register">
            Register
        </a>

        <p class="mt-5 mb-3 text-body-secondary">© @(DateTime.Now.Year)</p>
    </div>
</main>